@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Ark Place<br />
    Somewhere in the world<br />
    <abbr title="Phone">P:</abbr>
    907-440-2124
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@ark.com">Support@ark.com</a><br />
</address>
