@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Connection</h2>
        <h4>Matching People with Resources with Need</h4>
        <ul>
            <li>Communities</li>
            <li>Resources</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Communication</h2>
        <h4>Sharing ideas, Tracking issues</h4>
        <ul>
            <li>Stories</li>
            <li>Blogs</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Transparency</h2>
        <h4>Visibility across the board</h4>
        <ul>
            <li>People</li>
            <li>Projects</li>
        </ul>
    </div>
</div>
